{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|striptags} | {/ifset}ADBIS 2016</title>

	<!-- Latest compiled and minified CSS -->
	{*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">*}

	{if $debugMode}
		<link rel="stylesheet" href="{$basePath}/css/style-front.css">
		{else}
			<link rel="stylesheet" href="{$basePath}/css/style-front.min.css">
	{/if}

	{*<link rel="stylesheet" href="{$basePath}/css/style.css">*}
	<link rel="shortcut icon" href="{$basePath}/images/favicon.ico">
	{* <meta name="viewport" content="width=device-width"> *}
	{block head}{/block}
</head>

<body>
	<div class="jumbotron jumbotron-img hidden-print">
		<div class="container-fluid">
			<div class="row pull-right">
				<div class="col-xs-push-6 col-xs-3">
					<img src="{$basePath}/images/fei.png" alt="logo FEI" />
				</div>
				<div class="col-xs-push-6 col-xs-3 logo-down">
					<img src="{$basePath}/images/mff.png" alt="logo MFF"/>
				</div>
			</div>
		</div>
		<div class="container push-down">
			<div class="row">
				<div class="col-xs-12">
					<h1><a n:href="Homepage:default">ADBIS 2016</a></h1>
					<h2>20th East-European Conference on Advances in Databases and Information Systems</h2>
				</div>
			</div>
		</div>
	</div>
	
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<ul class="nav navbar-nav">
					<li>
						<a n:href="Homepage:default">Home</a>
					</li>
					<li>
						<a n:href="Committees:default">Committees</a>
					</li>
					<li>
						<a n:href="Keynote:default">Keynote Speakers</a>
					</li>
					<li>
						<a n:href="Program:default">Program</a>
					</li>
					<li>
						<a n:href="ForAuthors:default">For Authors</a>
					</li>
					<li>
						<a n:href="Topics:default">Topics</a>
					</li>
					<li>
						<a n:href="Accommodation:default">Venue & Accommodation</a>
					</li>
					{*<li>*}
						{*<a n:href="Registration:default">Registration</a>*}
					{*</li>*}
					<li>
						<a n:href="Workshops:default">Workshops</a>
					</li>
					<li>
						<a n:href="Workshops:consortium">PhD Consortium</a>
					</li>
					<li>
						<a n:href="Contact:default">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-xs-3 side-panel">
				<h3>August 28 – 31, 2016</h3>
				<p>Lindner Hotel Prague Castle<br />Prague, Czech Republic</p>
				<a href="{='ADBIS2016CfP.pdf'|path}" target="_blank">Call for Papers</a>
				<hr />
				<h3>Photogallery</h3>
				<a href="https://goo.gl/BH8wQe" target="_blank">
					<p>Photos taken by Milena</p>
				</a>
				<a href="https://goo.gl/BH8wQe" target="_blank">
					<img src="{$basePath}/images/photogallery1.jpg" alt="photogallery Milena" class="img-responsive" />
				</a>
				<a href="https://goo.gl/BH8wQe" target="_blank">
					<p>Photos taken by Petr</p>
				</a>
				<a href="https://goo.gl/XkWFRE" target="_blank">
					<img src="{$basePath}/images/photogallery2.jpg" alt="photogallery Petr" class="img-responsive"/>
				</a>
				<hr />
				<h3>Important dates</h3>
				<p><b>Main Conference Dates</b></p>
				<p><b>April 10, 2016</b> - Submission of papers (extended)</p>
				<p><b>May 15, 2016</b> - Notification of acceptance<br /><b>June 12, 2016</b> - Camera-ready papers<br /><b>August 29-31, 2016</b> - Conference</p><br />
				<p><b>Conference allied with ADBIS 2016</b></p>
				<p><a href="http://kogninfo.vse.cz/bir2016/" target="_blank">BIR</a> - Prague 14.- 16. 9. 2016</p>
			</div>
			<div class="col-xs-9 main">
				<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

				{include content}
			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<hr />
				<div class="col-xs-12">
					<div class="col-xs-2">
						<div class="dummy"></div>
						<div class="logos">
							<img src="{$basePath}/images/cski_logo.png" alt="CSKI logo" />
						</div>
					</div>
					<div class="col-xs-2 col-xs-offset-1">
						<div class="dummy"></div>
						<div class="logos">
							<img src="{$basePath}/images/dcit_logo.png" alt="DCIT logo" />
						</div>
					</div>
					<div class="col-xs-2 col-xs-offset-1">
						<div class="dummy"></div>
						<div class="logos">
							<img src="{$basePath}/images/intax_logo.png" alt="INTAX logo" />
						</div>
					</div>
					<div class="col-xs-2 col-xs-offset-1">
						<div class="dummy"></div>
						<div class="logos">
							<img src="{$basePath}/images/profinit_logo.jpg" alt="PROFINIT logo" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-xs-12">
				<div class="row">
					<br />
					<hr />
					<p>© 2016 - ADBIS 2016</p>
				</div>
			</div>
		</div>
	</footer>

{* 	

	{block scripts}
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block} *}
</body>
</html>
