{block content}
	<h2>Venue & Accommodation</h2>
	<p>The conference will take place in the Lindner Hotel Prague Castle. The hotel is located in the beautiful neighborhood of the Prague Castle and just a few tramway stops from the city centre (<a href="https://goo.gl/maps/PX3S3">see on the google maps</a>).</p>
	<br />
	<div class="row">
		<div class="col-xs-6">
			<a href="http://www.lindner.de/en/hotel_prague_castle">Lindner Hotel Prague Castle</a>
			<p><b>Congress Hall Lindner Hotel Prague Castle</b>,<br />
			Strahovská 128,<br />
			118 00 Prague Czech Republic</p>
		</div>
		<div class="col-xs-3">
			<a href="{='Congress_Hall_big.jpg'|path}" target="_blank"><img src="{$basePath}/images/Congress_Hall.jpg" alt="Congress Hall Lindner Hotel Prague Castle"/></a>
		</div>
		<div class="col-xs-3">
			<a href="{='hotel_at_night_big.jpg'|path}" target="_blank"><img src="{$basePath}/images/hotel_at_night.jpg" alt="Hotel Prague Castle At Night"/></a>
		</div>
	</div>

	<h3>Accommodation</h3>

	<p>You are welcomed to stay in the conference venue – at the Lindner Hotel Prague Castle. We have arranged a special offer for the conference participants and students as well.</p>

	<hr />
	<div class="row">
		<div class="col-xs-12">
			<p class="lead">REGULAR PARTICIPANT<p>
		</div>
		<div class="col-xs-6">
			<p><b>Early birds (till June 17, 2016)</b></p>
			<ul>
				<li>Double room for single use: <b>89 €</b></li>
		    	<li>Double room: <b>105 €</b></li>
		    </ul>
		</div>	
		<div class="col-xs-6">
			<p><b>Regular rate (after June 18, 2016)</b></p>
			<ul>
				<li>Double room for single use: <b>99 €</b></li>
				<li>Double room: <b>110 €</b></li>
			</ul>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-12">
			<p class="lead">STUDENT</p>
		</div>
		<div class="col-xs-6">
			<p><b>Early birds (till June 17, 2016)</b></p>
			<ul>
				<li>Shared double room: 80 €</li>
			</ul>
		</div>
		<div class="col-xs-6">
			<p><b>Regular rate (after June 18, 2016)</b></p>
			<ul>
				<li>Shared double room: 90 €</li>
			</ul>
		</div>
	</div>
	<hr />
	<p>All prices are in € (Euro) per room per one night. The offer is limited to the conference period.</p>

	<p>The guest room rates include: Full buffet breakfast, Coffee, tea and mineral water in the room, access to sauna and fitness room, WLAN internet connection in the guest room, meeting space and in public areas. The prices include 15% VAT.</p>

	<p><b>Accommodation deadline is July 20, 2016</b>. Please note that date, the hotel cannot guarantee your booking request. The number of rooms is limited.</p>

	<p>If you want us to reserve a room for you, please indicate it in the <a href="https://secure.action-m.com/adbis2016-form/" target="_blank">REGISTRATION FORM & HOTEL RESERVATION REQUEST</a> (appears in time, be patient).</p>

	<p>For the additional information and further accommodation requests please contact hotel Lindner Hotel Prague Castle, reservation department <a href="mailto:reservation.prague@lindnerhotels.com">e-mail</a>, phone: +420 226 080 100, fax: +420 226 080 507</p>

	<h3>Traveling to Conference Venue</h3>
	<p><b>From Vaclav Havel Airport</b><br />The Prague airport is located approximately 12 km from the symposium venue. You can reach the symposium venue by public transport (MHD), by the Lindner hotel arranged transfer or by taxi service.</p>
	<ol>
		<li>To reach the Lindner hotel by public transport you have to take 119 bus Prague Airport – Nádraží Veleslavín (metro line A), then change to underground (Metro) and travel four stops to Malostranská station and there change to tramway number 22 and travel four stops to Pohořelec. The public transport company has information stands at both airport terminals, where you can buy tickets.</li>
		<li>Lindner hotel can arrange transfer for you. Just let us know in the registration form (appears in time, be patient).</li>
		<li>To reach the Lindner hotel by taxi, the address is Strahovska 128, Prague 1 (use yellow AAA taxi, ask for the price in advance).</li>
	</ol>
	<p><b>From Main Train Station</b><br />Travel by underground (Metro) line C one stop to the station Muzeum and then change to the underground line A (green) and travel three stations to Malostranská station and there change to tramway number 22 and travel four stops to Pohořelec.</p>
	<p>Prague Sneak Peeks</p>
	<div class="col-xs-4">
		<img src="{$basePath}/images/prague1.jpg" alt="prague1" />
	</div>
	<div class="col-xs-4">
		<img src="{$basePath}/images/prague2.jpg" alt="prague2" />
	</div>
	<div class="col-xs-4">
		<img src="{$basePath}/images/prague3.jpg" alt="prague3" />
	</div>

{/block}