{block content}
	<div class="row">
		<div class="col-xs-12">
			<p>The main objective of the ADBIS series of conferences is to provide a forum for the dissemination of research accomplishments and to promote interaction and collaboration between the database and information systems research communities from Central and East European countries and the rest of the world. The ADBIS conferences provide an international platform for the presentation of research on database theory, development of advanced DBMS technologies, and their advanced applications.</p>

			<p>In 2016, the ADBIS is commemorating its 20th anniversary.The ADBIS 2016 conference will be held in Prague, August 28-31, 2016 and will continue the tradition by fostering the growth and providing a platform for researchers and practitioners to present their result.</p>

			<p>Organizer of the conference is Charles University, Faculty of Mathematics and Physics, Department of Software Engineering in co-operation with Technical University of Ostrava, Faculty of Electrical Engineering and Computer Science.</p>

			<p>The conference will consist of regular sessions with technical contributions (regular papers, short papers) reviewed and selected by an international program committee, as well as of invited talks and tutorials presented by leading scientists. The official language of the conference will be English. Doctoral consortium and different Workshops will be held in line with the main conference.</p>
			<p><b>We are pleased to announce that the ADBIS 2016 conference is taking place under Auspices of the City of Prague.</b></p>
			<a href="{='auspices.jpg'|path}" target="_blank">
				<img src="{$basePath}/data/files/auspices.jpg" alt="Auspices" style="width:50%" class="center-block"/>
			</a>
		</div>
	</div>
{/block}