{block content}
	<h2>Topics</h2>

	<h3>Database technology</h3>
	<ul>
		<li>optimization of databases and information systems</li>
		<li>modern database querying, management, cloud and big data techniques</li>
		<li>data warehouses, scalable systems, controlled redundancy</li>
		<li>data security, privacy, integrity, adaptation</li>
		<li>distributed and federated databases and information system applications</li>
		<li>benchmarking and performance improvement, monitoring</li>
	</ul>

	<h3>Challenges imposed by novel applications</h3>
	<ul>
		<li>big, large-scale, heterogeneous and cloud systems, multimedia data, spatial and temporal data, sensor and observation data, replication management</li>
		<li>data cleansing, condensation, data quality management, data duration</li>
		<li>data analysis, mining, knowledge discovery, OLAP, ETL, information extraction</li>
		<li>databases as infrastructure element, novel platforms</li>
		<li>specific databases, e.g. in social networks, streams</li>
		<li>data science, data as a service, data-intensive sciences</li>
	</ul>

	<h3>Database and information system foundations</h3>
	<ul>
		<li>advanced database and business process modelling</li>
		<li>multi-model development, evolution and migration</li>
		<li>complex data massives, probabilistic and uncertain data</li>
		<li>meta-data, provenance, annotation, contextualisation, archiving, aging</li>
		<li>integrity constraint management, robust constraints</li>
	</ul>

	<h3>Codesign of databases and business processes</h3>
	<ul>
		<li>advanced business process management, data management for heterogeneous and distributed processes</li>
		<li>optimisation of business applications</li>
		<li>view and event management, orchestration of information systems and workflow systems</li>
		<li>process-oriented data management</li>
		<li>networking, integration and coherence management of data, interfaces</li>
	</ul>

	<h3>Database and information systems analysis, design and development</h3>
	<ul>
		<li>maturing analysis, design and development</li>
		<li>advanced modelling techniques, coexistence of semi- and fully structured data</li>
		<li>legacy databases, flexible integration, evolution, and migration</li>
		<li>methodologies for modern information system development</li>
	</ul>

{/block}