<div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td>
                        Theodora Tsikrika and Yannis Manolopoulos</a>
                    </td>
                    <td>
                        Theodora Tsikrika and Yannis Manolopoulos
                        A Retrospective Study on the 20 Years of the ADBIS Conference

                    </td>
                </tr>
            </table>
            <h3>ADBIS 2016 accepted papers</h3>

            <table class="table table-bordered table-condensed">
                <tr>
                    <td>invited</td>
                    <td>Avigdor Gal</td>
                    <td>Big data integration</td>
                </tr>
                <tr>
                    <td>invited</td>
                    <td>Erhard Rahm</td>
                    <td>The Case for Holistic Data Integration</td>
                </tr>
                <tr>
                    <td>invited</td>
                    <td>Pavel Zezula</td>
                    <td>Similarity Searching for Database Applications</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Matteo Golfarelli, Simone Graziani and Stefano Rizzi</td>
                    <td>Starry Vault: Automating Multidimensional Modeling from Data Vaults</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Tianrun Li, Thomas Heinis and Wayne Luk</td>
                    <td>Hashing-based Approximate DBSCAN</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Rodrigo Folha, Valeria Cesario Times and Claudivan Cruz Lopes</td>
                    <td>Asymmetric scalar product encryption for circular and rectangular range searches</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Yutaka Ohsawa, Htoo Htoo and Tin Nilar Win</td>
                    <td>Continuous Trip Route Planning Queries</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>
                        Antonio Corral, Francisco Garcia-Garcia, Luis Iribarne, Michael Vassilakopoulos and Yannis
                        Manolopoulos
                    </td>
                    <td>Enhancing SpatialHadoop with Closest Pair Queries</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Tobias Jäkel, Thomas Kühn, Hannes Voigt and Wolfgang Lehner</td>
                    <td>Towards a Role-based Contextual Database</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Adam Šenk, Petr Kroha, Miroslav Hrstka and Michal Valenta</td>
                    <td>Minimization of Data Transfers during MapReduce Computations in Distributed Wide-Column Stores
                    </td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>Damla Oguz, Shaoyi Yin, Abdelkader Hameurlain, Belgin Ergenc and Oguz Dikenelli</td>
                    <td>Adaptive Join Operator for Federated Queries over Linked Data Endpoints</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>Stephen Hegner and M. Andrea Rodríguez</td>
                    <td>Integration Integrity for Multigranular Data</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>Florian Stahl and Gottfried Vossen</td>
                    <td>Fair Knapsack Pricing for Data Marketplaces</td>
                </tr>
                <tr>
                    <td>38</td>
                    <td>Pascal Hirmer, Matthias Wieland, Uwe Breitenbücher and Bernhard Mitschang</td>
                    <td>Dynamic Ontology-based Sensor Binding</td>
                </tr>
                <tr>
                    <td>39</td>
                    <td>Zubeida Khan, C. Maria Keet, Pablo Fillottrani and Karina Cenci</td>
                    <td>Experimentally Motivated Transformations for Intermodel Links between Conceptual Models</td>
                </tr>
                <tr>
                    <td>42</td>
                    <td>Matej Antol and Vlastislav Dohnal</td>
                    <td>Optimizing Query Performance with Inverted Cache in Metric Spaces</td>
                </tr>
                <tr>
                    <td>44</td>
                    <td>Maroun Abi Assaf, Youakim Badr, Kablan Barbar and Youssef Amghar</td>
                    <td>AQL: A Declarative Artifact Query Language</td>
                </tr>
                <tr>
                    <td>47</td>
                    <td>Robert Bembenik and Piotr Andruszkiewicz</td>
                    <td>Towards Automatic Argument Extraction and Visualization in a Deliberative Model of Online
                        Consultations
                        for Local Governments
                    </td>
                </tr>
                <tr>
                    <td>51</td>
                    <td>Tomas Karnagel, Dirk Habich and Wolfgang Lehner</td>
                    <td>Limitations of Intra-Operator Parallelism using Heterogeneous Computing Resources</td>
                </tr>
                <tr>
                    <td>54</td>
                    <td>Yong Hu, Stefan Dessloch and Klaus Hofmann</td>
                    <td>Temporal View Maintenance in Wide-column Stores with Attribute-timestamping Model</td>
                </tr>
                <tr>
                    <td>56</td>
                    <td>Lahcene Brahimi, Ladjel Bellatreche and Yassine Ouhammou</td>
                    <td>A Recommender System for DBMS Selection based on a Test Data Repository</td>
                </tr>
                <tr>
                    <td>59</td>
                    <td>Caetano Sauer, Lucas Lersch, Theo Härder and Goetz Graefe</td>
                    <td>Update propagation strategies for high-performance OLTP</td>
                </tr>
                <tr>
                    <td>67</td>
                    <td>Petar Jovanovic, Oscar Romero, Toon Calders and Alberto Abello</td>
                    <td>H-WorD: Supporting Job Scheduling in Hadoop with Workload-driven Data Redistribution</td>
                </tr>
                <tr>
                    <td>79</td>
                    <td>Besim Avci, Goce Trajcevski and Peter Scheuermann</td>
                    <td>Tracking Uncertain Shapes with Probabilistic Bounds in Sensor Networks</td>
                </tr>
            </table>
            <h3>ADBIS 2016 accepted short papers</h3>
            <table class="table table-bordered table-condensed">
                <tr>
                    <td>5</td>
                    <td>Anastasios Gounaris</a></td>
                    <td>Towards Automated Performance Optimization of BPMN Business Processes</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Jiří Hynek and Tomáš Hruška</td>
                    <td>Pixel-Based Analysis of Information Dashboard Attributes</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Claus Dabringer and Johann Eder</td>
                    <td>Towards Adaptive Distributed Top-K Query Processing</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Peter Vojtas, Michal Kopecký and Marta Vomlelová</td>
                    <td>Basis functions as pivots in space of users preferences</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Roman Betik and Irena Holubova</td>
                    <td>JBD Generator: Towards Semi-Structured JSON Big Data</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>Alexander Tzanakas, Eleftherios Tiakas and Yannis Manolopoulos</td>
                    <td>Skyline Algorithms on Streams of Multidimensional Data</td>
                </tr>
                <tr>
                    <td>55</td>
                    <td>Manuk Manukyan and Grigor Gevorgyan</td>
                    <td>Canonical Data Model for Data Warehouse</td>
                </tr>
                <tr>
                    <td>64</td>
                    <td>Daniel Carvalho, Plácido A. Souza Neto, Chirine Ghedira Guegan, Nadia Bennani and Genoveva
                        Vargas
                        Solar
                    </td>
                    <td>Rhone: a quality-based query rewriting algorithm for data integration.</td>
                </tr>
                <tr>
                    <td>70</td>
                    <td>Oscar Urra and Sergio Ilarri</td>
                    <td>Towards Spatial Crowdsourcing in Vehicular Networks Using Mobile Agents</td>
                </tr>
                <tr>
                    <td>74</td>
                    <td>Tobias Vincon, Ilia Petrov and Christian Thies</td>
                    <td>cIPT: Shift of Image Processing Technologies to column-oriented Databases</td>
                </tr>
                <tr>
                    <td>83</td>
                    <td>Nigel Franciscus, Zoran Milosevic and Bela Stantic</td>
                    <td>In uence of Parallelism Property of Streaming Engines on Their Performance</td>
                </tr>
            </table>
        </div>
    </div>