{block content}
	<h2>Committees</h2>
	<p><b>General Chair</b><br />Jaroslav POKORNY, Charles University in Prague, Czech Republic</p>

	<p><b>Programme Co-Chairs</b><br />Mirjana IVANOVIC, University of Novi Sad, Serbia<br />Bernhard THALHEIM, Christian-Albrechts-Universität, Kiel, Germany</p>

	<p><b>Workshop Co-Chairs</b><br />Barbara CATANIA, DISI-University of Genoa, Italy<br />Klaus-Dieter SCHEWE, Software Competence Center Hagenberg, Germany</p>

	<p><b>PhD Consortium Co-Chairs</b><br />Marite KIRIKOVA, Riga Technical University, Republic of Latvia<br />Petr SALOUN, VSB – Technical University of Ostrava, Czech Republic</p>

	<p><b>Proceedings, Web Site Chair</b><br />Petr SALOUN, VSB – Technical University of Ostrava, Czech Republic</p>

	<p><b>Steering Committee Chair</b><br />Leonid KALINICHENKO, Russian Academy of Science, Moscow, Russia</p>

	<p><b>Publicity Chair</b><br />Martin KRULIS, Charles University in Prague, Czech Reublic</p>
	<hr />
	<p><b>Members of the Steering Committee</b></p>
	<div class="row">
		<div class="col-xs-6">
			<p>Paolo ATZENI, Italy<br />
			Ladjel BELLATRECHE, France<br />
			Andras BENCZUR, Hungary<br />
			Maria BIELIKOVA, Slovakia<br />
			Albertas CAPLINSKAS, Lithuania<br />
			Barbara CATANIA, Italy<br />
			Johann EDER, Austria<br />
			Janis GRUNDSPENKIS, Latvia<br />
			Theo HAERDER, Germany<br />
			Hele-Mai HAAV, Estonia<br />
			Mirjana IVANOVIC, Serbia<br />
			Hannu JAAKKOLA, Finland<br />
			Marite KIRIKOVA, Latvia<br />
			Mikhail KOGALOVSKY, Russia<br />
			Margita KON-POPOVSKA, Macedonia<br />
			Yannis MANOLOPOULOS, Greece</p>
		</div>
		<div class="col-xs-6">
			<p>Rainer MANTHEY, Germany<br />
			Manuk MANUKYAN, Armenia<br />
			Joris MIHAELI, Israel<br />
			Tadeusz MORZY, Poland<br />
			Pavol NAVRAT, Slovakia<br />
			Boris NOVIKOV, Russia<br />
			Mykola NIKITCHENKO, Ukraine<br />
			George A. PAPADOPOULOS, Cyprus<br />
			Jaroslav POKORNY, Czech Republic<br />
			Boris RACHEV, Bulgaria<br />
			Bernhard THALHEIM, Germany<br />
			Gottfried VOSSEN, Germany<br />
			Tatjana WELZER, Slovenia<br />
			Viacheslav WOLFENGAGEN, Russia<br />
			Robert WREMBEL, Poland<br />
			Ester ZUMPANO, Italy</p>
		</div>
	</div>
	<hr />
	<p><b>Program Committee</b></p>
	<p>Bader ALBDAIWI, Kuwait University, Kuwait<br />
	Witold ABRAMOWICZ, Poznan University of Economics, Poland<br />
	Birger ANDERSSON, Royal Institute of Technology, Sweden<br />
	Grigoris ANTONIOU, University of Huddersfield, United Kingdom<br />
	Costin BĂDICĂ, University of Craiova, Romania<br />
	Marko BAJEC, University of Ljubljana, Republic of Slovenia<br />
	Ladjel BELLATRECHE, ISAE – ENSMA, France<br />
	András BENCZÚR, Eötvös Loránd University, Hungary<br />
	Maria BIELIKOVA, Slovak University of Technology in Bratislava, Slovakia<br />
	Alexander BIENEMANN, Christian-Albrechts-Universität zu Kiel, Germany<br />
	Miklos BIRO, Software Competence Center Hagenberg, Austria<br />
	Zoran BOSNIĆ, University of Ljubljana, Republic of Slovenia<br />
	Doulkifli BOUKRAA, University of Jijel, Algeria<br />
	Dražen BRDJANIN, University of Banja Luka, Bosnia and Herzegovina<br />
	Stephane BRESSAN, National University of Singapore, Singapore<br />
	Boštjan BRUMEN, University of Maribor, Slovenia<br />
	Zoran BUDIMAC, University of Novi Sad, Serbia<br />
	Albertas CAPLINSKAS, Institute of Mathematics and Informatics, Lithuania<br />
	Barbara CATANIA, DIBRIS-University of Genoa, Italy<br />
	Krzysztof CETNAROWICZ, AGH – University of Science and Technology of Krakow, Poland<br />
	Ajantha DAHANAYAKE, Georgia College & State University, USA<br />
	Antje DÜSTERHÖFT, University of applied sciences, Wismar, Germany<br />
	Johann EDER, Alpen Adria Universität Klagenfurt, Austria<br />
	Markus ENDRES, University of Augsburg, Germany<br />
	Erki EESSAAR, Tallinn University of Technology, Estonia<br />
	Werner ESSWEIN, Technical University Dresden, Germany<br />
	Georgios EVANGELIDIS, University of Macedonia, Thessaloniki, Greece<br />
	Flavio FERRAROTTI, Software Competence Center Hagenberg (SCCH), Austria<br />
	Peter FETTKE, Institute for Information Systems at DFKI (IWi), Germany<br />
	Peter FORBRIG, University of Rostock, Germany<br />
	Flavius FRASINCAR, Erasmus University Rotterdam, Netherlands<br />
	Dirk FROSCH-WILKE, University of Applied Sciences Kiel, Germany<br />
	Jan GENCI, Technical University of Kosice, Slovakia<br />
	Janis GRABIS, Riga Technical University, Latvia<br />
	Gunter GRÄFE, HTW Dresden, Germany<br />
	Giancarlo GUIZZARDI, Federal University of Espírito Santo (UFES), Brazil<br />
	Theo HAERDER, TU Kaiserslautern, Germany<br />
	Hele-Mai HAAV, Tallinn University of Technology, Estonia<br />
	Hannu JAAKKOLA, Tampere University of Technology, Finland<br />
	Stefan JABLONSKI, University of Bayreuth, Germany<br />
	Klaus P. JANTKE, Fraunhofer IDMT, Germany<br />
	Leonid KALINICHENKO, Russian Academy of Science, Moscow, Russia<br />
	Ahto KALJA, Tallinn University of Technology, Estonia<br />
	Mehmed KANTARDZIC, University of Louisville, USA<br />
	Dimitris KARAGIANNIS, University of Vienna, Austria<br />
	Zoubida KEDAD, University of Versailles, France<br />
	Mikhail KOGALOVSKY, Russian Academy of Sciences, Russia<br />
	Michal KOPECKY, Charles University in Prague, Czech Republic<br />
	Michal KRATKY, VSB-Technical University of Ostrava, Czech Republic<br />
	John KROGSTIE, IDI, NTNU, Norway<br />
	Wolfgang LEHNER, Technical University Dresden, Germany<br />
	Sebastian LINK, University of Auckland, New Zealand<br />
	Audrone LUPEIKIENE, Vilnius University, Lithuania<br />
	Hui MA, Victoria University of Wellington, New Zealand<br />
	Leszek MACIASZEK, Wrocław University of Economics, Poland<br />
	Christian MANCAS, Ovidius University, Romania<br />
	Yannis MANOLOPOULOS, Aristotle University of Thessaloniki, Greece<br />
	Manuk MANUKYAN, Yerevan State university, Armenia<br />
	Rainer MANTHEY, University of Bonn, Germany<br />
	Karol MATIASKO, University of Zilina, Slovakia<br />
	Brahim MEDJAHED, University of Michigan – Dearborn, USA<br />
	Dezso MIKLOS, Hungarian Academy of Sciences, Hungary<br />
	Pavle MOGIN, Victoria University of Wellington, New Zealand<br />
	Tadeusz MORZY, Poznan University of Technology, Poland<br />
	Pavol NAVRAT, Slovak University of Technology in Bratislava, Slovakia<br />
	Martin NECASKY, Charles University in Prague, Czech Republic<br />
	Boris NOVIKOV, St. Pegersburg University, Russia<br />
	Andreas OBERWEIS, Universitaet Karlsruhe, Germany<br />
	Zoran OBRADOVIĆ, Temple University, USA<br />
	Andreas OPDAHL, University of Bergen, Norway<br />
	George ANGELOS PAPADOPOULOS, University of Cyprus, Cyprus<br />
	Tomas PITNER, Masaryk University, Brno, Czech Republic<br />
	Jan PLATOS, VSB-Technical University of Ostrava, Czech Republic<br />
	Vedran PODOBNIK, University of Zagreb, Croatia<br />
	Boris RACHEV, Technical University of Varna, Bulgaria<br />
	Karel RICHTA, Czech Technical University in Prague, Czech Republic<br />
	Stefano RIZZI, DEIS – University of Bologna, Italy<br />
	Viera ROZINAJOVA, Slovak University of Technology in Bratislava, Slovakia<br />
	Gunther SAAKE, University of Magdeburg, Germany<br />
	Shiori SASAKI, Keio University, Japan<br />
	Miloš SAVIĆ, Faculty of Science, University of Novi Sad, Serbia<br />
	Ingo SCHMITT, Technical University Cottbus, Germany<br />
	Stephan SCHNEIDER, Fachhochschule Kiel, Germany<br />
	Timos SELIS, RMIT University, Australia<br />
	Maxim SHISHAEV, Russian Academy of Sciences, Russia<br />
	Tomas SKOPAL, Charles University in Prague, Czech Republic<br />
	Volodymyr G. SKOBELEV, Glushkov Institute of Cybernetic of NAS of Ukraine, Ukraine<br />
	Bela STANTIC, Griffith University, Australia<br />
	Claudia STEINBERGER, University Klagenfurt, Austria<br />
	Josef STEINBERGER, University of West Bohemia, Czech Republic<br />
	Sergej STUPNIKOV, Russian Academy of Sciences, Russia<br />
	Petr SALOUN, VSB-Technical University of Ostrava, Czech Republic<br />
	James TERWILLIGER, Microsoft Corporation, USA<br />
	Goce TRAJCEVSKI, Northwestern University, USA<br />
	Michal VALENTA, Czech Technical University in Prague, Czech Republic<br />
	Olegas VASILECAS, Vilnius Gediminas Technical University, Lithuania<br />
	Goran VELINOV, UKIM, Skopje, Macedonia<br />
	Peter VOJTAS, Charles University in Prague, Czech Republic<br />
	Gottfried VOSSEN, University of Münster, Germany<br />
	Isabelle WATTIAU, CNAM & ESSEC, France<br />
	Gerald WEBER, University of Auckland, New Zealand<br />
	Tatjana WELZER, University of Maribor, Slovenia<br />
	Robert WREMBEL, Poznan Unviersity of Technology, Poland<br />
	Anna YARYGINA, St. Petersburg University, Russia<br />
	Naofumi YOSHIDA, Komazawa University, Japan<br />
	Arkady ZASLAVSKY, Digital Productivity Flagship, Australia<br />
	Jaroslav ZENDULKA, Brno University of Technology, Czech Republic<br />
	Koji ZETTSU, National Institute of Information and Communications Technology (NICT), Japan</p>
	<hr />
	<p><b>Local Organization Chair</b><br />Milena ZEITHAMLOVA, Action M Agency, Prague, Czech Republic</p>
	
	<p><b>Local Organization Committee</b><br />Ladislav MARSIK, Charles University in Prague, Czech Republic<br />
	Jiri NOVOTNY, Charles University in Prague, Czech Republic</p> 
{/block}