{block content}
    <h2>Program</h2>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <a href="{='timetable.png'|path}" target="_blank">
                <img src="{$basePath}/data/files/timetable.png" alt="Timetable"/>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <a href="{='program_1.jpg'|path}" target="_blank">
                <img src="{$basePath}/data/files/program_1.jpg" alt="program page 1"/>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="{='program_2.jpg'|path}" target="_blank">
                <img src="{$basePath}/data/files/program_2.jpg" alt="program page 2"/>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="{='program_3.jpg'|path}" target="_blank">
                <img src="{$basePath}/data/files/program_3.jpg" alt="program page 3"/>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="{='program_4.jpg'|path}" target="_blank">
                <img src="{$basePath}/data/files/program_4.jpg" alt="program page 4"/>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="{='program_5.jpg'|path}" target="_blank">
                <img src="{$basePath}/data/files/program_5.jpg" alt="program page 5"/>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="{='program_6.jpg'|path}" target="_blank">
                <img src="{$basePath}/data/files/program_6.jpg" alt="program page 6"/>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Downloadable pdf: <a href="{='program2016.pdf'|path}" target="_blank">ADBIS Program 2016</a></p>
        </div>
    </div>

{/block}