{block content}
    <h2>For Authors</h2>
    <h3>Paper publishing</h3>

    <p>ADBIS accepted research papers will be published in a Springer-Verlag Lecture Notes in Computer Science volume.
        Papers must not exceed 14 pages in the LNCS format. For camera-ready papers use Latex or Word style
        (find&nbsp;<a href="http://www.springer.com/computer/lncs?SGWID=0-164-2-793332-0&changeHeader">here</a>). The
        program committee may decide to accept a submission as a short paper if it reports interesting results but does
        not justify publication of a full paper. ADBIS short research papers must not exceed 8 pages. The best paper
        authored solely by students will receive an award. Best Papers of the Main Conference will be invited for
        submission in Special Issues of ISI-indexed journals Information systems and Informatica.</p>

    <h3>General rules</h3>
    <ul>
        <li>Papers must be written in English.</li>
        <li>Papers must contain previously unpublished work and not be submitted concurrently to another conference.
        </li>
        <li>Papers are submitted using an electronic submissions system, as detailed below.</li>
        <li>An author of an accepted paper must register to ADBIS 2016 in order to have the paper published.</li>
        <li>Accepted papers must be presented at the conference by one of the authors.</li>
        <li>ADBIS papers must be submitted via the <a href="https://easychair.org/conferences/?conf=adbis2016"
                                                      target="_blank">EasyChair system</a></li>
        <li>Papers must be submitted as a single PDF document.</li>
    </ul>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-5">
                <div class="dummy"></div>
                <div class="logos">
                    <img src="{$basePath}/images/lncs_logo.jpg" alt="CSKI logo"/>
                </div>
            </div>
            <div class="col-xs-5 col-xs-push-1">
                <div class="dummy"></div>
                <div class="logos">
                    <img src="{$basePath}/images/springer_logo.png" alt="DCIT logo"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>The ADBIS 2016 proceedings will be pubilished in the series Lecture Notes in Computer Science
                (<a href="www.springer.com/lncs" target="_blank">LNCS</a>).</p>
            <p>LNCS/LNAI/LNBI is published, in parallel to the printed books, in full­text electronic version in
                Springer digital library SpringerLink; e.g., for the ADBIS 2015 predecessor proceedings, LNCS 9282,
                please see <a href="http://link.springer.com/book/10.1007%2F978­3­319­23135­8" target="_blank">
                    http://link.springer.com/book/10.1007%2F978­3­319­23135­8</a>.
            </p>
        </div>
    </div>

{/block}
