{block content}
	<h2>Registration</h2>
	<p>To register for the ADBIS 2016 conference in Prague, August 28-31, 2016 please complete on-line<br /><a href="https://secure.action-m.com/adbis2016-form/">REGISTRATION FORM & HOTEL RESERVATION REQUEST</a> and pay the registration fee.

	<p>Registering early will save you money, and also help us to organize things better!</p>

	<p>The deadline for early registration is June 6, 2016 and the late registration deadline is August 25, 2016.</p>

	<h3>Registration Office</h3>

	<p><b>Action M Agency</b></p>
	<table class="table table-condensed">
		<tr>
			<td>Milena Zeithamlova</td>
			<td>Phone: +420 267 312 333</td>
		</tr>
		<tr>
			<td>Vrsovicka 68</td>
			<td>E-mail: milena@action-m.com</td>
		</tr>
		<tr>
			<td>101 00 Prague 10</td>
			<td>web: http://www.action-m.com</td>
		</tr>
		<tr>
			<td>Czech Republic</td>
			<td>&nbsp;</td>
		</tr>
	</table>

	<h3>Registration Fees in CZK </h3>
	<br />
	<table class="table table-striped table-bordered text-center table-condensed">
		<tr>
			<td>Fees</td>
			<td>Date</td>
			<td>Early Registration on or before June 6, 2016</td>
			<td>Regular Registration on and after June 7, 2016</td>
			<td>On Site Registration after August 25, 2016</td>
		</tr>
		<tr>
			<td>Regular Conference Fee</td>
			<td>August 29-31</td>
			<td>10 600</td>
			<td>12 600</td>
			<td>14 600</td>
		</tr>
		<tr>
			<td>Student Conference Fee</td>
			<td>August 29-31</td>
			<td>6 500</td>
			<td>8 500</td>
			<td>10 500</td>
		</tr>
		<tr>
			<td>Regular Conference & Satellite Events Fee</td>
			<td>August 28–31</td>
			<td>12 800</td>
			<td>14 800</td>
			<td>16 800</td>
		</tr>
		<tr>
			<td>Student Conference Fee & Satellite Events Fee</td>
			<td>August 28-31</td>
			<td>8 600</td>
			<td>10 600</td>
			<td>12 600</td>
		</tr>
		<tr>
			<td>Satellite Events Fee</td>
			<td>August 28</td>
			<td>3 800</td>
			<td>4 800</td>
			<td>5 800</td>
		</tr>
		<tr>
			<td>Student Satellite Events Fee</td>
			<td>August 28</td>
			<td>2 600</td>
			<td>3 600</td>
			<td>4 600</td>
		</tr>
		<tr>
			<td>Extra Page Fee</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>2 000</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Accompanying Person Fee</td>
			<td>August 29-31</td>
			<td>&nbsp;</td>
			<td>1 800</td>
			<td>&nbsp;</td>
		</tr>
	</table>

	<p>All prices are in Czech Crowns (CZK). To give you better idea about prices in EUR, we suggest using <a href="http://www.cnb.cz/en">www.cnb.cz</a> (at present time 1 EUR » 27,02 CZK, 1 USD » 24,72 CZK)</p>

	<p><b>Regular conference registration fee</b> includes access to the scientific program of the main conference, a Springer-Verlag LNCS proceedings, conference package, welcome reception, music performance & dinner, 2 lunches, refreshments during breaks, and use of conference facilities.</p>

	<p><b>Student registration fee</b> includes access to the scientific program of the main conference, conference package, welcome reception, music performance & dinner, 2 lunches, refreshments during breaks, and use of conference facilities.</p>

	<p><b>Satellite events fee</b> includes access to the scientific program of pre-conference Workshops and PhD. Consortium, a volume with all workshop and PhD. Consortium papers published by Springer in the Communications in Computer and Information Science series, workshop package, lunch, refreshments during breaks, and use of facilities.</p>

	<p><b>Extra Page Fee (maximum 2 pages)</b> can be purchased for 2 000 CZK per page.</p>

	<p><b>Accompanying person fee</b> includes refreshments during main conference coffee breaks, welcome reception, music performance & dinner and assistance with individual cultural events requests.</p>

	<p>Attendance at the ADBIS 2016 scientific program and sessions is not covered.</p>

	<h3>Payment</h3>

	<p>Payments in CZK can be made:</p>

	<ul>
		<li>by <b>Credit card</b> (VISA, Eurocard/MasterCard, JCB, Diners Club)</li>
	    <li>by <b>Bank transfer</b></li>
	</ul>

	<p>Please transfer the payment in Czech Crowns to the following account:<br />
	<b>CZK</b> Account No. <b>221442101/0100</b><br />
	IBAN: <b>CZ0801000000000221442101</b><br />
	Swift Code: <b>KOMBCZPP</b><br /></p>

	<p>Czech Republic, Komercni banka Praha 10 – Kubanske nam. 15; Prague 10<br />account holder – <b>Milena Zeithamlova, Agentura Action M, Vrsovicka 68, Prague 10, Czech Republic</b></p>

	<p>Please indicate your name as payment description/identification.</p>

	<p>Czech participants can use the “variabilní symbol” 3108 or the invoice number sent after filling the form.</p>

	<p>The complete registration is confirmed by issuing the invoice upon receiving the payment.</p>

	<p>Please make sure that the bank transfer is net of all bank charges and commissions made.<br />Remaining charges will be requested upon your arrival when registering.</p>

	<p>If any difficulties in sending payment in Czech Crowns arise, please let us know to assist you.</p>

	 
	<h3>Cancellation Policy</h3>

	<p>The registration fee deducted of CZK 1500 will be refunded for all written cancellations sent to Action M Agency not later than <b>August 8, 2016</b>.<br />After that date no refund of registration fee will be provided.</p>



{/block}