{block content}
	<h2>Contacts</h2>
    <div class="row">
        <div class="col-xs-7">
            <h4>Local Arrangements (Registration)</h4>
            <div class="col-xs-4">
                <div class="dummy"></div>
                <div class="logos">
                    <img src="{$basePath}/images/AAM.png" alt="agency AAM logo" />
                </div>
            </div>
            <div class="col-xs-8">

            <p><b>Action M Agency</b><br />
                Vrsovicka 68, 101 00 Prague 10, Czech Republic<br />
                Phone: +420 267 312 333</p>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Milena Zeithamlova, <a href="mailto:milena@action-m.com">milena@action-m.com</a></p>
                    <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Agnes Megyeri, <a href="mailto:team@action-m.com">team@action-m.com</a></p>
                </div>
            </div>
        </div>

        <div class="col-xs-5">
            <h4>Scientific Issues</h4>
            <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Jaroslav Pokorný, <a href="mailto:adbis2016@vsb.cz">adbis2016@vsb.cz</a>
            <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Petr Šaloun, <a href="mailto:adbis2016@vsb.cz">adbis2016@vsb.cz</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <br />
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2559.995826784252!2d14.388249!3d50.086365!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b94e91381d33f%3A0xc3f225cc13490d9c!2sLindner+Hotel+Prague+Castle!5e0!3m2!1ssk!2ssk!4v1461367479961" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

{/block}
