{block content}
	<h2><span class="different">PhD</span> Consortium</h2>
	<p>Doctoral Consortium (DC) is a forum for PhD. students to present their research ideas, confront them with the scientific community, receive feedback from senior mentors, socialize and tie cooperation bounds. Students will receive support and inspiration from their peers, and they will enjoy the the opportunity to discuss their research and career objectives with senior members of the community from outside their institution. Students will present and discuss their research directions in the context of an established international conference outside of their usual university environment.</p>

	<p>The DC sessions are scheduled in parallel with workshop sessions affiliated with the ADBIS conference. Each participant will have an opportunity to present her/his research, followed by discussion with and comments by senior researchers.</p>

	<p>In addition, a poster session will be held during the main conference. Each participant of the Doctoral Consortium is supposed to present her/his research during the poster session, thus increasing the exposure of the research and engaging in discussions with senior members of the research community.</p>

	<h3>Important Dates</h3>
	<ul>
		<li>Submission: <b>April 18, 2016 (extended)</b></li>
    	<li>Acceptance: May 1, 2016</li>
    	<li>Camera-ready: June 1, 2016</li>
    	<li>PhD consortium: August 28, 2016</li>
    </ul>

    <h3>Eligibility</h3>
	<p>We seek PhD. student participants who have either determined the direction of their thesis research (probably with some preliminary results already published), but who still have substantial work to complete, or PhD. student participants who are in the early stages of their dissertation year. Please note that it is not required to have a paper accepted for the main conference in order to participate in the Doctoral Consortium.</p>

	<h3>Submissions</h3>
	<p>To submit your application to the Doctoral Consortium please prepare the following documents.</p>
	<ol>
		<li>Research statement: summarize the problem, proposed plan, and progress to date. (*max 2 pages*)</li>
    	<li>Curriculum Vitae including the expected graduation date. (*max 1 page*)</li>
    	<li>Advisor’s support: a short email from the thesis advisor stating support for the student’s participation in the Doctoral Consortium, describing the current status of the thesis research, and giving the expected date of graduation.</li>
    	<hr />
    	<p>Optionally, you may submit the following documents:</p>
    	<hr />
    	<li>One first-authored paper (this will appear in the proceedings of DC).</li>
    	<li>Name of paper submitted to ADBIS, if applicable.</li>
    </ol>
    <br />
    <p>The papers for DC (item 4 above) should be at most 6 pages in Springer format (formatting instructions can be obtained via http://www.springer.com/series/11156) and describe the state of the whole PhD project, rather than a specific completed result. The paper should outline the objectives, the problem, state of the art, results obtained so far, and what is still to be done in the frame of the PhD project. If an author prefers to present a completed research result, the paper should be submitted to the main conference or one of accompanying workshops.</p>

    <p>Submissions should be made electronically in PDF or DOC/DOCX (MS/Open Word) format via page <a href="https://cmt3.research.microsoft.com/ADBISDC2016">https://cmt3.research.microsoft.com/ADBISDC2016</a>

    <p>In case of multiple files, please submit a single compressed file (zip or rar).</p>

	<p>Please note that after logging into EasyChair, “ADBIS 2016 PhD Consortium” track has to be chosen to submit a paper in response to this call.</p>

	<h3>Review Process</h3>

	<p>The papers submitted to the DC will be reviewed by a PC and the authors of successful submissions must take into account reviewer’s comments during the preparation of final version and describe the changes in a separate document to be submitted together with the final camera-ready version.</p>

	<p>The program committee reserves a right to reject a paper if the final version does not meet the requirements above.</p>

	<p>Selection of participants who did not submit a DC paper (item 4) will be based on the clarity of the submitted materials and the student’s stage of research. We will also take institutional representation into account in order to provide a truly diverse environment for research presentation and discussion. Applications not adhering to the provided guidelines (including page limits) may not be considered.</p>

	<h3>Proceedings</h3>

	<p>The DC papers will be published together with ADBIS workshops proceedings, by Springer in the Advances in Intelligent Systems and Computing series. The authors of best DC submissions will be invited to provide an extended version to an international journal (acceptance is subject to further reviewing).</p>

	<h3>Doctoral Consortium Co-Chairs</h3>

	<p>Requests for information should be e-mailed.</p>

    <ul>
    	<li>Marite KIRIKOVA, Riga Technical University, Republic of Latvia</li>
    	<li>Petr SALOUN, VSB – Technical University of Ostrava, Czech Republic</li>
    </ul> 

{/block}