{block content}
	<h2>Workshops</h2>
	<p><b>BigDap 2016 – Big Data Applications and Principles</b><br />Tania Cerquitelli, Elena Baralis, Pietro Michiardi<br />
	<a href="http://dbdmg.polito.it/bigdap2016/" target="_blank">http://dbdmg.polito.it/bigdap2016</a></p>


	<p><b>DCSA – Data Centered Smart Applications</b><br />Ajantha Dahanayake<br />
	<a href="https://www.is.informatik.uni-kiel.de/en/is/events/dcsa2016adbis" target="_blank">https://www.is.informatik.uni-kiel.de/en/is/events/dcsa2016adbis</a></p>

	<p><b>SocBi 2016 – Social Business Intelligence - CANCELLED</b><br />Neamat El Tazi, Selma Khouri, Robert Wrembel<br />
	<a href="http://www.cs.put.poznan.pl/events/SocBI.html" target="_blank">http://www.cs.put.poznan.pl/events/SocBI.html</a></p>
{/block}