{block content}
    <h2>Keynote Speakers</h2>
    <div class="row">
        <div class="col-xs-8">
            <p><b>Prof. Avigdor Gal</b><br/>
                <b>Homepage:</b><a href="http://ie.technion.ac.il/~avigal" target="_blank">
                    http://ie.technion.ac.il/~avigal</a><br />
                <b>Affiliation:</b> Technion ­­ Israel Institute of Technology, Faculty of Industrial Engineering &
                Management
            </p>

            <h3>Big data integration</h3>
            <p><b>Abstract:</b> The evolution of data accumulation, management, analytics, and visualization has
                recently led to
                coining the term big data. Big data encompasses technological advancement such as Internet of things
                (accumulation), cloud computing (management), and data mining (analytics), packaging it all together
                while
                providing an exciting arena for new and challenging research agenda. In the light of these landscape
                changes
                we analyze in this talk the impact of big data on data integration, which involves the alignment of
                distributed, heterogeneous, and autonomously evolving data. Big data integration is about matching
                social
                media with sensor data, putting it into use in applications such as smart city, health informatics, etc.
                In
                particular, the talk will present advancement in automatic tools for data integration and the changing
                role
                of human experts.
            </p>
        </div>
        <div class="col-xs-4">
            <div class="dummy"></div>
            <div class="logos">
                <img src="{$basePath}/images/avigdor_gal.jpg"/>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-4">
            <div class="dummy"></div>
            <div class="logos">
                <img src="{$basePath}/images/erhard_rahm.jpg"/>
            </div>
        </div>
        <div class="col-xs-8">
            <p><b>Prof. Dr. Erhard Rahm</b> studied Computer Science at the University of Kaiserslautern (diploma 1984,
                Ph.D. 1988, habilitation 1993). From 1988 to 1989 he was a post-doctoral fellow at the IBM Research
                Center in Hawthorne, NY. Since 1994 he is a Full Professor for databases at the University of Leipzig.
                He spent sabbaticals at Microsoft Research (Redmond, WA) and the Australian National University. His
                current research focusses on Big Data and data integration. He has authored several books and more than
                200 peer-reviewed journal and conference publications. His research on data integration has been awarded
                several times, in particular with the renowned 10-year best-paper award of the conference series VLDB
                (Very Large Databases) and the Influential Paper Award of the conference series ICDE (Int. Conf. on Data
                Engineering).</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Prof. Rahm is scientific co-coordinator of the new German center of excellence on Big Data ScaDS
                (competence center for SCAlable Data services and Solutions) Dresden/Leipzig.</p>

            <h3>The case for holistic data integration</h3>
            <p><b>Prof. Erhard Rahm</b><br/>
                <b>Affiliation:</b> University of Leipzig</p>

            <p><b>Abstract:</b>
                Data integration is a key challenge for Big Data applications to semantically enrich and combine large
                sets of heterogeneous data for enhanced data analysis. In many cases, there is also a need to deal with
                a very high number of data sources, e.g., product offers from many e-commerce websites. We will discuss
                approaches to deal with the key data integration tasks of (large-scale) entity resolution and schema or
                ontology matching. In particular, we discuss parallel blocking and entity resolution on Hadoop platforms
                together with load balancing techniques to deal with data skew. We also discuss challenges and recent
                approaches for holistic data integration of many data sources, e.g., to create knowledge graphs or to
                make use of huge collections of web tables.</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-4">
            <div class="dummy"></div>
            <div class="logos">
                <img src="{$basePath}/images/pavel_zezula.jpg"/>
            </div>
        </div>
        <div class="col-xs-8">
            <p class="up"><b>Prof. Pavel Zezula</b> is a professor of Informatics at the Masaryk University, Brno, Czech
                Republic. He
                spent more than ten years in Italy, mainly cooperating with the Italian National Research Council in
                Pisa and the University of Bologna. He is a co­author of the Similarity Search: The Metric Space
                Approach book, published by Springer US. He has published more than 100 peer­reviewed conference papers
                and more than 30 journal papers. He has participated in more than 20 European projects and received the
                IBM SUR award for his activities in Web­Search Similarity Search in Multimedia Data. Currently is Prof.
                Zezula is a primary investigator of the Czech Centre of Excellence on Large-Scale Multimodal Data
                Interpretation.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Similarity searching for database applications</h3>
            <p><b>Prof. Pavel Zezula</b><br/>
                <b>Homepage:</b><a href="http://www.muni.cz/fi/people/47485" target="_blank">
                    http://www.muni.cz/fi/people/47485</a><br />
                <b>Affiliation:</b> Masaryk University, Faculty of Informatics, Brno, Czech Republic
            </p>
            <p>Though searching is already the most frequently used application of information technology today,
                similarity approach to searching is increasingly playing more and more important role in construction of
                new search engines. In the last twenty years, the technology has matured and many centralized,
                distributed, and even peer­to­peer architectures have been proposed. However, the use of similarity
                searching in numerous potential applications is still a challenge. In the talk, four research directions
                in developing similarity search applications at Masaryk University DISA laboratory are to be discussed.
                First, we concentrate on accelerating large­scale face recognition applications and continue with
                generic image annotation task for retrieval purposes. In the second half, we focus on data stream
                processing applications and finish the talk with the ambition topic of content­based retrieval in human
                motion­capture data. Applications will be illustrated by online prototype implementations.
            </p>
        </div>
    </div>
{/block}